#toptekst { 
    text-align: center;
    }

#links { 
        text-align: center;
        
    }

a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 900;
}


body { background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);}